<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <div class="modal" id="form">
    <div v-if="counter === 1">
      <input v-model="name" type="text" name="name" id="name" placeholder="name" />
      <input v-model="email" type="email" name="email" id="email" placeholder="email" />
    </div>
    <div v-if="counter === 2">
      <input v-model="city" type="text" name="city" id="city" placeholder="city" />
    </div>
    <div v-if="counter === 3">
      <p>name: {{name}}</p>
      <p>email: {{email}}</p>
      <p>city: {{city}}</p>
    </div>
    <button type="button" v-on:click="clickNext" v-if="counter < 3">NEXT</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="./main.js"></script>
</body>

</html>