:root {
  --orange: #e2a301;
  --yellow: #ffd521;
  --light-blue: #daeee9;
  --blue: #abd2c8;
  --green: #67917a;
  --white: #ffffff;
  --black: #000000;
  --general-gaps: 15px;
}

@media (min-width: 560px) {
  :root {
    --general-gaps: 5%;
  }
}

@media (min-width: 992px) {
  :root {
    --general-gaps: 8%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #fff;
  margin: 0 auto;
  min-width: 320px;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
img {
  display: block;
}

a {
  color: inherit;
}

strong {
  font-weight: 600;
}

body.unscroll {
  overflow: hidden;
}

.btn {
  outline: none;
  font-size: 16px;
  line-height: 1.2;
  text-transform: capitalize;
  border: none;
  transition: all .15s ease;
}

.btn--order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  color: var(--white);
  background: var(--green);
}

.btn--order:hover,
.btn--order:focus {
  background: #527361;
}
.btn--cart {
  position: relative;
  min-width: 160px;
  text-align: center;
  padding: 8px 16px 8px 46px;
  color: var(--white);
  background: var(--green);
  transition: inherit;
}

.btn--cart>span {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  display: block;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  color: var(--green);
  background: var(--light-blue);
  transition: inherit;
}

.btn--cart::before {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  width: 40px;
  background-image: url("https://www.shareicon.net/data/128x128/2016/02/07/281223_cart_512x512.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn--cart:hover,
.btn--cart:focus {
  background: #527361;
}

.btn--cart:hover>span,
.btn--cart:focus>span {
  color: var(--white);
  background: var(--blue);
}

.btn--add {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 120px;
  color: var(--white);
  padding: 0;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.btn--add>span {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  transition: all 0.2s linear;
}

.btn--add>span:first-child {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  background: var(--green);
}

.btn--add>span:last-child {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  background: #527361;
}

.btn--add:hover>span:first-child,
.btn--add:focus>span:first-child {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.btn--add:hover>span:last-child,
.btn--add:focus>span:last-child {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.fw-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: center;
  padding: 15px var(--general-gaps);
  background: var(--orange);
}

.fw-header__title {
  margin-bottom: 8px;
  color: var(--white);
}

@media (min-width: 560px) {
  .fw-header {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .fw-header__title {
    margin-bottom: 0;
  }
}

.fw-goods {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 300px));
  justify-content: center;
  padding: 15px var(--general-gaps);
  background: var(--yellow);
}

.fw-goods__title {
  grid-column: 1/-1;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.fw-good {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 200px;
  padding: 15px;
}

.fw-good::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, var(--white) 20%, rgba(255, 255, 255, 0.1) 100%);
  transition: all .15s ease;
}

.fw-good__title {
  text-align: center;
  color: var(--green);
}

.fw-good__img {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.fw-good__btn {
  margin-top: auto;
}

.fw-good:hover::before {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 20%, transparent 100%);
}

.fw-overlay {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;
}

.fw-overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.fw-modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 15px;
  background: var(--light-blue);
}

.fw-modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  outline: none;
  transition: all .2s ease;
}

.fw-modal__close::before,
.fw-modal__close::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--black);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.fw-modal__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fw-modal__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fw-modal__close:hover,
.fw-modal__close:focus {
  opacity: 1;
}

.fw-modal__title {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.fw-modal__content {
  width: 100%;
  overflow-y: auto;
}

.fw-modal__content p {
  text-align: center;
}

.fw-table {
  width: 100%;
  min-width: 480px;
  border-collapse: collapse;
}

.fw-table td,
.fw-table th {
  padding: 12px 8px;
  vertical-align: middle;
  text-align: left;
}

.fw-table__header tr {
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.fw-table__body tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.fw-table__body tr:last-child {
  border-bottom: 3px solid #afbfbb;
}

.fw-table__body td>button {
  position: relative;
  background: transparent;
  border: none;
  width: 15px;
  height: 30px;
  opacity: 0.3;
  outline: none;
  padding: 0;
  transition: all .2s ease;
}

.fw-table__body td>button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  margin: auto;
  background: red;
}

.fw-table__body td>button:hover,
.fw-table__body td>button:focus {
  opacity: 1;
}

.fw-table__body td>input {
  max-width: 100px;
  padding: 4px 8px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}

.fw-table__img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.fw-footer {
  padding: 15px var(--general-gaps);
  background: var(--green);
  color: var(--white);
}