<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>VUE LEARNING</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css" />

</head>

<body>
  <div id="table">
    <div class="table">
      <div class="table__header">
        <h1 class="table__title">
          Учет сотрудников
        </h1>
        <button type="button" type="button" @click="addCoworker()">
          Добавить сотрудника
        </button>
      </div>
      <div class="table__body" v-if="members.length">
        <div class="co-worker">
          <div class="co-worker__col co-worker__col--id">ID</div>
          <div class="co-worker__col co-worker__col--name">NAME</div>
          <div class="co-worker__col co-worker__col--age">AGE</div>
          <div class="co-worker__col co-worker__col--address">ADDRESS</div>
          <div class="co-worker__col co-worker__col--del"></div>
        </div>
        <div v-for="(member, index) in members" v-bind:index="index" :is="member" v-on:delete-member="deleteMember" v-on:open-editor="openEditModal">
        </div>
      </div>

    </div>

    <edit-modal v-bind:member="value" v-bind:modal="openModal"></edit-modal>
  </div>
</body>
<script src="main.js"></script>

</html>