html {
  color: $black;
}
.container {
  padding-left: 2*$gap;
  padding-right: 2*$gap;
  @media (min-width: map-get($grid-breakpoints, md)) {
    max-width: map-get($container-max-widths, md);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    max-width: map-get($container-max-widths, lg);
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    max-width: map-get($container-max-widths, xl);
  }
}

.section {
  padding-top: map-get($section-gap, sm);
  padding-bottom: map-get($section-gap, sm);
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding-top: map-get($section-gap, md);
    padding-bottom: map-get($section-gap, md);
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-top: map-get($section-gap, lg);
    padding-bottom: map-get($section-gap, lg);
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    padding-top: map-get($section-gap, xl);
    padding-bottom: map-get($section-gap, xl);
  }
}

.map {
  padding-top: 50%;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    height: 100%;
    padding-top: initial;
  }
}

time,
.time {
  font-size: 0.9rem;
  font-weight: 100;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  padding-top: 2*$gap;
  padding-bottom: 2*$gap;
  background: $black;
  color: $white;
}

main {
  position: relative;
}

.index-page {
  height: 100%;
  background-image: url('../img/weather.png');
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid $grey;
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}